/* Remember all the styling in the body is inherited by the child elements within the body html*/

body {
    background-color: grey;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

}

#header {
    background-color: #5c755e;
    margin: 10px; /*This allocates a gutter*/
    height: 90px;
    border-radius: 5px;

}

#navbar {
    background-color: #5c755e;
    margin: 10px;
    height: 35px;
    border-radius: 5px;

}