body {
    background-color: antiquewhite;
    font-family: verdana, arial, geneva, arial black;
    font-weight: normal;
    margin-left: 1px;
    margin-right: 1px;
    
}

h1 {
    color: orange;
    background-color: khaki;
    padding-left: 0px;
    border-color: black;
    border-width: 3px;
    border-style: dotted;
    text-align: center;
    margin-left: 0;
    margin-right: 0;

}

h2 {
    color: orangered;
    background-color: aqua;
    padding: 10px 5px 10px 5px;
    border: 1px solid black;
}

h3 {
    color: black;
    background-color: wheat;
    padding: 50px 5px 50px 5px;
    border: 1px solid black;

}

.underline { 
    text-decoration: underline;
}
.mainpara {
    color: red;
    font-size: 15px;
    line-height: 1.5em;
    background-color: aqua;
    padding: 20px 20px 20px 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    
}
#para1 {
    color: blue;
    font-size: 15px;
    line-height: 1em;
    background-color: gray;
    padding: 20px 20px 20px 50px;
    border: black 3px solid;
    text-align: left;
    background-image: url(bgimage.jpg);    

}
#para3 {
    color: blue;
    font-size: 15px;
    line-height: 1em;
    background-color: gray;
    padding: 20px 20px 20px 50px;
    border: black 3px solid;
    text-align: left;
    background-image: url(bgimage.jpg);    

}
.imagec {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    
}