body {
    background-color: antiquewhite;
    font-family: verdana, arial, geneva, arial black;
    font-weight: normal;
    margin-left: 1px;
    margin-right: 1px;
}

h1 {
    color: blue;
    background-color: khaki;
    padding-left: 0px;
    border-color: black;
    border-width: 3px;
    border-style: dotted;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    
}

h2 {
    color: blue;
    background-color: aqua;
    padding: 10px 5px 10px 5px;
    border: 1px solid black;
    text-align: center;
}

h3 {
    color: black;
    background-color: wheat;
    padding: 50px 5px 50px 5px;
    border: 1px solid black;
}

h4 {
    color: black;
    background-color: wheat;
    padding: 50px 5px 50px 5px;
    border: 1px solid black;
}

.underline { 
    text-decoration: underline;
}

.mainpara {
    color: red;
    font-size: 15px;
    line-height: 1.5em;
    background-color: aqua;
    padding: 20px 20px 20px 20px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: center;
}

#para1 {
    color: white;
    font-size: 15px;
    line-height: 1em;
    background-color: gray;
    padding: 20px 20px 20px 50px;
    border: black 3px solid;
    text-align: left;
    background-image: url(bgimage.jpg);
    height: 50px;
    overflow: scroll;
    
}

#para3 {
    color: white;
    font-size: 15px;
    line-height: 1em;
    background-color: gray;
    padding: 20px 20px 20px 50px;
    border: black 3px solid;
    text-align: left;
    background-image: ;
    height: 500px;
    overflow: scroll;   
}

#para4 {
    color: white;
    font-size: 20px;
    line-height: 1em;
    background-color: gray;
    padding: 20px 20px 20px 50px;
    border: black 3px solid;
    text-align: left;
    background-image: ;    
}

.imagec {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 10px;   
}

#maindiv{
    color:;
    font-size:;
    line-height:;
    background-color: rgb(221, 217, 217);
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    text-align: center;
    background-image: ;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

#seconddiv{
    color:;
    font-size:;
    line-height:;
    background-color: rgb(221, 217, 217);
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    text-align: center;
    background-image: ;
    margin-top: 20px;
    margin-bottom: 10px;
}

#thirddiv{
    color:;
    font-size:;
    line-height:;
    background-color: rgb(221, 217, 217);
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    text-align: center;
    background-image: ;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fourthdiv{
    color:;
    font-size:;
    line-height:;
    background-color: rgb(221, 217, 217);
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
    text-align: center;
    background-image: ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.highlight {
    color: brown;
    background-color: yellow;
}


a:link {
    color: orange;
}

a:visited {
    color: white;
}

a:hover {
    color: yellow;
}
.image {
    float: left;
    display: ;
    margin-top: ;
    margin-bottom: 30px;
    margin-left: ;
    margin-right: 10px;
    border-color: ;
    border-width: ;
    border-style: ;
    padding: ;
}

.menues {
    background-color: gray;
    color: black;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 50px;
}

ul li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    color: white;
    display: block;
    width: 80px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-color: red;
    border: 2px;
    border-style: solid;
    height: 25px;
    line-height: 25px;
    
}